body {
    margin: 8px;
    width: auto;
    height: auto;
}

#options {
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#options > div {
    margin-bottom: 15px;
}

#options > div:last-child {
    margin-bottom: 0;
}

#options button,
#options label {
    display: block;
}

.heading {
    font-size: 17px;
    font-weight: bold;
}